firstapp/src/main/mule/firstapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="33ae61bb-027c-4b08-a273-4849fe1294a3" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="firstappFlow" doc:id="c105d890-791a-4cb6-869c-0864b1d7562f" >
		<http:listener doc:name="8085 : /test" doc:id="f48d4a21-af3f-4750-a746-e388d84e62c6" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="a54b557c-011e-43c2-b418-100865ba5e7e" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="6d4a060e-f944-4b7d-9285-c303163bc2b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload,
	success: "working"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5007a557-9ab6-4bd2-bda8-0d2157d0b43d" message="working fine---------------------!!"/>
	</flow>
</mule>
